body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282877;
}

#keret {
    width: 900px;
    margin: 0 auto;
    background-color: #e2e2e2;
    overflow: hidden;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
}

button {
    background-color: #282877;
    color: #e2e2e2;
    border-radius: 4px;
    font-size: 20px;
    border: 1px solid #282877;
    outline: 0;
    padding: 8px 16px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0.15s ease 0s, color 0.15s ease 0.15s;
}

button:active {
    transition: none;
}

#ablakHatter {
    background-color: #000000b3;
    display: none;
    
}

#ablak {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    background-color: #e2e2e2;
    overflow: hidden;
    text-align: center;
    border: 1px solid #282877;
    border-radius: 6px;
    padding: 0 20px;
}

input, textarea {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
}

textarea {
    resize: none;
}

.hibasMezo {
    border-color: red;
}

/* A saját beállításokat ez után a sor után legyenek megírva! */
